.session-guest-pic {
    float:left;
    width:150px;
}

.session-guest-pic img {
    width: 100%;
    height:100%;
}

.session-right-column {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #CCC ;
}

.session-title, .session-guest-name, .session-guest-description {
    margin-left: 160px;
}

.session-title {
    font-size: 16px;
    font-weight: bold;
}

.session-guest-name {
    font-size: 13px;
    font-weight: bold;
}

.session-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC ;
}

.session-banner {
    height: 150px;
}

.session-banner img {
    width: 100%;
    height: 100%;
}

.session-guest-photo {
    width: 150px;
    float: left;
}

.session-guest-photo img {
    width: 100%;
    height: 100%;
}

.guest-data {
    margin-left: 160px;
}

.question-item {
    margin-top:10px;
}

.questions-and-answer-section {
    margin-top: 10px;
}

.question-head {
}

.answer {
    border: 1px solid #CCC;
}

.question-actions {
    margin-bottom: 10px;
}

#content #ask-question a:link,
#content a.question-reject:link,
#content .question-actions a:link,
#content .question-actions a.link-overlay{
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 0px !important;
}

#ask-question {
    margin-top: 10px;
    font-size: 15px;
}

#form-widgets-guest_name,
.fullname {
    font-weight: bold;
    font-size: 13px;
}

#form-widgets-guest_description {
    font-size: 11px;
}
.country {
    font-size: 10px;
}