.session-guest-pic {
    float:left;
    width:150px;
}

.session-guest-pic img {
    width: 100%;
    height:100%;
}

.session-quesion-answered,
.session-right-column {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #CCC ;
    padding: 10px;
    position: relative;
    top: 10px;
}

.session-right-column {
    padding-bottom: 20px;
}

.session-title, .session-guest-name, .session-guest-description, .session-date {
    margin-left: 160px;
}

.session-title {
    font-size: 16px;
    font-weight: bold;
}

#content .session-title a:link, #content .session-title a:visited, 
#content .session-title a:hover {
    border-bottom: 0;
    text-decoration: none;
    font-size: 15px;
}

#content .session-item-wrapper-open .session-title a:link, 
#content .session-item-wrapper-open .session-title a:visited, 
#content .session-item-wrapper-open .session-title a:hover {
    font-size: 20px;
}

.session-guest-name {
    font-size: 13px;
    font-weight: bold;
}

.session-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC ;
}

.session-banner {
    height: 150px;
}

.session-banner img {
    width: 100%;
    height: 100%;
}

.session-guest-photo {
    width: 150px;
    float: left;
}

.session-guest-photo img {
    width: 100%;
    height: 100%;
}

.guest-data {
    margin-left: 160px;
}

.question-item {
    margin-top:10px;
}

.questions-and-answer-section {
    margin-top: 10px;
}

.question-head {
}

.answer {
    border: 1px solid #CCC;
}

.question-actions {
    margin-bottom: 10px;
}

#content #ask-question a:link,
#content a.question-reject:link,
#content .question-actions a:link,
#content .question-actions a.link-overlay{
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 0px !important;
}

#ask-question {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#content #ask-question a.question-link:link {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #CCC;
    border-bottom: 1px solid #CCC !important;
    margin-bottom: 10px;
}

#not-answer-text {
    margin: 30px;
}

#form-widgets-guest_name,
.fullname {
    font-weight: bold;
    font-size: 13px;
}

#content #form-widgets-guest_description p {
    font-size: 12px;
}
.country {
    font-size: 10px;
}

#content .question p {
    font-size: 12px;
}

#content #session-tabs-container {
    text-align: right;
    margin-top: 10px;
}

#content .session-tabs {
    text-align: center;
    width: 100%;
    float:right;
    border: 1px solid #CCC;
    border-bottom: 1px solid #CCC !important;
    padding: 10px 0px;
    border-radius: 15px;
}

#content .session-tabs li{
    display: inline;
    font-size: 17px;
}

#content .session-tabs li a:link {
    border:0;
    padding: 20px;
}

#pagination {
    width: 100%;
    border-top: 1px solid #CCC;
    margin-top: 20px;
}

#pagination-right {
    float: right;
    padding-top: 10px;
}

#pagination-left {
    float: left;
    padding-top: 10px;
}

#content .paginate-questions a:link {
    border-bottom: 0;
    font-size: 20px;
}

.portaltype-telesur-forums-session .overlay #form-buttons-cancel,
.portaltype-telesur-forums-session .overlay #form-buttons-save {
    font-size: 15px;
    margin-right: 50px;
    margin-top: 50px;
}

.portaltype-telesur-forums-session .overlay #form-buttons-save {
    margin-left: 35%;
}

.portaltype-telesur-forums-session .overlay .discreet {
    display: none;
}

.captchaAudio {
    display: none;
}

.session-item-wrapper .session-guest-description {
    height: 150px;
    overflow-y: hidden;
}
.session-item-wrapper {
    height: 197px;
    overflow-y: hidden;
}

.session-item-wrapper-open {
    background-color: #EEEEEE;
}

.session-view-date,
.session-date {
    font-weight: bold;
}

